@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div>
            @ViewBag.Name
        </div>
    </body>
</html>